<suite name="NAGPAssignment" parallel="none">

    <test name="SelendroidTest1">
        <classes>
            <class name="com.nagp.Runner.TestRunnerSanity" />
        </classes>
    </test>
    <test name="SelendroidTest2">
        <classes>
            <class name="com.nagp.Runner.TestRunnerSmoke" />
        </classes>
    </test>
</suite>